
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

head { 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Merel Entius</title>

  <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap" rel="stylesheet">

 
	<style>}
 
.newsreader-example {
      font-family: "Newsreader", serif;
      font-optical-sizing: auto;
      font-weight: 450; /* Normal weight */
      font-style: normal;
    }
 

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}



.resume-header {
    background-color: #F3F3F3;
}

.resume-main {
	background-color: #6A88B8;
}

.resume-aside {
	background-color: #D0A2D8;
}



.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}



.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.d-flex {
  color: black; 
}


